@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');



.header {
	padding: 15px;
	border-top: 20px solid #fffacd;		/* 外枠 */
	background: #ffffe0;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

#head ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;

}

#head ul li{
	margin: 40px 30px 10px 0;
	padding: 10px 0;
	float: right;
	text-align: right;
	font-size: 17px;
	color: #556b2f;


}

.nav a:link {
	color: #8d4f42;
	text-decoration: none;
	font-size: 17px;
}


.nav a:hover {
	color: #d2691e;
	text-decoration: none;
	font-size: 17px;

}

.image {
	width: 125px;
	float: left;
}
